* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
}

header {
    height: 15dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 160px;
}

.voltar {
    max-width: 40px;
    margin: 25px;
}

.corpo {
    display: flex;
}


.conteudo {
    width: 300dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    gap: 10dvh;
}

h1{
    font-size: 6dvh;
    font-weight: 500;
}











@media (max-width: 190dvh) {
    
    h1 {
        text-align: center;
        margin: 0;
    }

}

@media (max-width: 136dvh) {
    
    header h1 {
        font-size: 6dvh;
        text-align: left;
    }



}